.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 2em 1.8em 2em 1.8em;

    > .contentbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;

        > .featurebox {
            > .title,
            > .description {
                text-align: center;
            }

            > .title {
                margin-bottom: .5em;
            }

            > .description {
                margin: 0;
                opacity: .7;
            }
        }
    }

    /// Small devices (portrait tablets and large phones, 600px and up)
    @media only screen and (min-width: 600px) {
        gap: 2.5em;
        padding-left: 4em;
        padding-right: 4em;
    }

    /// Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        padding-left: 6em;
        padding-right: 6em;
    }

    /// Large devices (laptops/desktops, 992px and up)
    @media only screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10em;
        padding-right: 10em;

        > .contentbox {    
            > .featurebox {
                > .title,
                > .description {
                    text-align: left;
                }
            }
        }

        > .imagebox {
            > .image {
                position: absolute;
                margin-top: -12.5em;
                left: -8em;
                width: 33em;
            }
        }
    }

    /// Extra large devices (large laptops and desktops, 1200px and up)
    @media only screen and (min-width: 1200px) {
        > .imagebox {
            > .image {
                left: -2em;
            }
        }
    } 

}