body {
    /// Large devices (laptops/desktops, 992px and up)
    @media only screen and (min-width: 992px) {
        font-size: 1.125rem;
    }
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.image {
    max-width: 100%;
    display: block;
    height: auto;
}

